
body {
	background: url(assets/imagine.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#game {
	/*margin-left: 2em;*/
	margin-top: 1.5em;
	background-color: #FFFFFF; opacity: 0.9; filter: alpha(opacity=50);
}

form {
	display: flex;
}

section {
	display: flex;
	justify-content: center;
}

.scoreboard {
	/*display: flex;
	flex-direction: column;
	margin-top: 8em;
	margin-right: 12em;*/
}

#scores {
	/*background: white;*/
	width: 100%;
	margin-top: 1em;
	padding-top: 1em;
}

#orders {
	list-style-type: none;
}

nav {
	background-color: #FFFFFF; opacity: 0.5; filter: alpha(opacity=50);
}

footer {
	background-color: #FFFFFF; opacity: 0.5; filter: alpha(opacity=50);
}









