
body {
	background: url(assets/imagine.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#game {
	margin-top: 1.5em;
	background-color: #FFFFFF; 
	opacity: 0.9; 
	filter: alpha(opacity=50);
}

form {
	display: flex;
}


.scoreboard {
	display: flex;
	justify-content: space-around;
}

#scores {
	/*background: white;*/
	width: 100%;
	margin-top: 1em;
	padding-top: 1em;
}

#orders {
	width: 12%;
	list-style-type: none;
	margin-right: 1em;
	padding-left: 1em;
	/*font-family: impact;*/
	letter-spacing: 0.25em;
	font-size: 1em;
	margin-top: 1em;
}

ul {
	color: white;
	font-family: impact;
	
}

li {
	color: #673AB7;
	font-size: 125%;
	font-family: Courier;
}

nav {
	background-color: #FFFFFF; 
	opacity: 0.5; 
	filter: alpha(opacity=50);
}

h4 {
	text-align: center;
	padding-top: 0.5em;
	font-family: impact;
	color: lightgrey;
	letter-spacing: 0.15em;
}

footer {
	background-color: #FFFFFF; 
	opacity: 0.5; 
	filter: alpha(opacity=50);

}

.name-input {
	margin-top: 2em;
}

button {
	margin-left: 0.75em;
}

.social-links a {
	font-size: 3em;
}










